body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.position {
	position: relative;
	top: 0px;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}
.site-box {
	display: flex;
	align-items: center;
	&__title {
		font-weight: 600;
		font-size: 38px;
		line-height: 45px;
		/* identical to box height */

		color: #202020;
	}
	&__link {
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		text-decoration-line: underline;

		color: #d2374a;
	}
}
.ex {
	background-color: #d2374a;
	max-width: 200px;
	height: 200px;
}

.child {
	width: 100%;
}
.nav__item + .nav__item {
	margin-left: 31px;
}
.nav {
	&__list {
		display: flex;
		list-style: none;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 50px;
		/* or 312% */
		color: #202020;
	}
}
.main {
	margin-bottom: 46px;
	&__left {
		display: flex;
	}
	&__content {
	}
	&__title {
		font-weight: 600;
		font-size: 48px;
		line-height: 56px;

		color: #000000;
	}
	&__text {
		font-weight: 300;
		font-size: 18px;
		line-height: 25px;
		color: #434343;
	}
	&__btn {
		padding: 14px 44px;

		background: #d2374a;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
		border-radius: 5px;

		span {
			font-weight: 700;
			font-size: 16px;
			line-height: 22px;
			/* identical to box height */
			color: #ffffff;
		}
	}
	&__slider {
	}
	&__right {
	}
}
.category {
	padding-top: 46px;
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		color: #202020;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		position: relative;
		border: 2px;
		width: 306px;
		height: 304px;
	}

	&__img {
		position: absolute;
		right: 0px;
		bottom: 10%;
	}

	&__img-back {
		position: absolute;
		z-index: -1;
		left: 0px;
	}
}
.back-img {
	height: 1000px;
	background-image: url("../img/category/category1.png");
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
}
.transform {
	position: relative;
	height: 400px;
	background-color: tomato;
	padding: 100px;
	&::before {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(2);
		position: absolute;
		content: "OptimusPrime";
		border-radius: 100%;
		background-color: #434343;
		height: 100px;
		width: 100px;
	}
}
